<p>Server id is {{ serverId }} and status is {{ getServerStatus() }}</p>
<label>Server name</label>

<!--One way data binding-->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->

<!--Two way data binding-->
<!-- <input type="text" class="form-control" [(ngModel)]="serverName" /> -->
<!-- <p>{{ serverName }}</p>  -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<p *ngIf="serverCreated; else noServer">Server is created {{ serverName }}</p>
<ng-template #noServer>No Server is created</ng-template>

<p>{{ serverCreationStatus }}</p>

<!--Assignment-->
<h3>Assignment</h3>
<label>User name</label>
<!-- <input type="text" class="form-control" [(ngModel)]="userName" /> -->
<p>{{ userName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!userName"
  (click)="resetUserName()"
>
  Reset user
</button>

<!-- <p
  <!--
  [ngStyle]="{ backgroundColor: getColor() }"
  [ngClass]="{ online: serverStatus === 'online' }"
  --
>
  >
  {{ "server" }} with ID {{ serverId }} is {{ getServerStatus() }}
</p> -->
<!-- <app-server *ngFor="let server of servers"></app-server> -->
<button class="btn btn-primary" (click)="onToggleDetails()">
  Display Details
</button>
<p *ngIf="showSecret">ngFor directive assignment</p>
<!-- <div
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{ backgroundColor: logItem >= 5 ? 'blue' : 'transperent ' }"
  [ngClass]="{ 'white-text': logItem >= 5 }"
>
  {{ logItem }}
</div> -->
